/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .wrap {
    margin: 50px 20px 0 2px;
}
.wrap a {
    text-decoration: none;
    color: black;
}
.links{
	width: 40%;
}
.__main{
	display: flex;
}
.dashlink{
	border-bottom: 1px solid;
}
.sales-report, .dashlink {
    padding: 10px;
}
span.A {
    border-radius: 50%;
    color: white;
    padding: 0px 14px;
    font-size: 35px;
    margin-right: 10px;
}
.sales-report, span.A{
	background: #F7931E;
}
.wp-amazon-title{
	color: #F7931E;
}
.snapshot {
    width: 40%;
    margin-left: 10%;
}
.snapshot h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}
.sales-report p {
    color: white;
    margin-bottom: 0;
}
.main_rep, .products_report {
    display: flex;
}
.report-product {
    width: 55%;
}
.best-selling {
    width: 30%;
}
p.price {
    width: 25%;
}
p.week {
    font-size: 13px;
    font-weight: bold;
}
button.search-product {
    background: orange;
    border: none;
    padding: 7px;
    border-radius: 7px;
    color: white;
    margin-left: 10px;
}
input.amazon-product{
	width: 50%;
    height: 30px;
    border: 1px solid;
}
.form_search{
	margin-bottom: 0;
    font-weight: bold;
}
.amazon_products {
    padding-top: 50px;
}
.list_products {
    border: 1px solid orange;
    border-radius: 15px;
    padding: 10px 25px;
    display: flex;
}
.prducts {
    width: 40%;
    margin-right: 10%;
}
.product-img, .product-desc {
    width: 40%;
}
.dir {
    display: flex;
}
.product-img img {
    width: 100%;
}
.product-img {
    margin-right: 10%;
}
a.add_product {
    background: black;
    color: white;
    padding: 10px;
}
.amazon_price{
	color: orange;
}
table.order_table {
  
    border-collapse: collapse;
    width: 100%;
}

table.order_table td, table.order_table th {
    border-bottom: 1px solid #000;
    text-align: left;
    padding: 8px;
}
table.order_table th {
    color: orange;
    font-size: 15px;
}
table.order_table input.search_date{
	height: 30px;
    border: 1px solid;
}
button.btn_go {
    background: orange;
    border: none;
    padding: 8px 20px;
    border-radius: 7px;
    color: white;
}
p.date {
    margin-bottom: 0;
    font-weight: bold;
}
.orders {
    border: 1px solid orange;
    padding: 20px 10px;
    border-radius: 15px;
}
input.user {
    margin-left: 70px;
}
input.pass {
    margin-left: 73px;
}
input.card_num {
    margin-left: 67px;
}
input.ccv {
    margin-left: 128px;
}
input.date {
    margin-left: 111px;
}
input.name {
    margin-left: 94px;
}
input.profit {
    margin-left: 72px;
}
.account input{
	border: 1px solid #000;
	width: 66%;
}
.account div {
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 3px;
}
.accont_div{
	width: 50%;
}
.save {
    border-radius: 5px;
    background: orange;
    color: white;
    border: none;
    float: right;
    margin-top: -30px;
    margin-right: -186px;
    padding: 8px 13px;
}
label {
    font-weight: bold;
}
.toplevel_page_wp-amazon ul.wp-submenu.wp-submenu-wrap {
    display: none;
}